{{ define "content" }}
<!--<h1 class="text-2xl font-bold mb-4">Journal Entries</h1>-->
<!--<div>-->
<!--  <button hx-get="/entries/new" hx-target="#entry-form">New Entry</button>-->
<!--  <div id="entry-form"></div>-->
<!--</div>-->
{{ block "header" . }} {{ end }}

<h1 class="text-2xl font-bold text-gray-900 sm:text-3xl pt-6">{{ .Title }}</h1>

<div id="entries" class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8 mt-6" >
<!--  <h2>{{ .}}</h2>-->
  {{ range .Entries }}
<!--  <div hx-get="/entries/{{ .ID }}" hx-trigger="click">-->
<!--    <h2 class="text-xl">{{ .Title }}</h2>-->
<!--    <p>{{ .Content }}</p>-->
<!--    <p>{{.Created | formatTime}}</p>-->
<!--  </div>-->

<article
        class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]"
>
  <div class="rounded-[10px] bg-white p-4 !pt-20 sm:p-6">
    <time datetime="2022-10-10" class="block text-xs text-gray-500">{{.Created | formatTime}} </time>

    <a href="app/entries/{{ .ID }}">
      <h3 class="mt-0.5 text-lg font-medium text-gray-900">
        {{ .Title }}
      </h3>
    </a>

<!--    <div class="mt-4 flex flex-wrap gap-1">-->
<!--      <span-->
<!--              class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"-->
<!--      >-->
<!--        Snippet-->
<!--      </span>-->

<!--      <span-->
<!--              class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"-->
<!--      >-->
<!--        JavaScript-->
<!--      </span>-->
<!--    </div>-->
  </div>
</article>
  {{ end }}
</div>
{{ end }}
